* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  
  }
  body {
    background-color: bisque;
  }
  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    font-family: 'Volkhov';
    align-items: center;
    position: fixed;
  }
  nav ul {
    display: flex;
  
    align-items: center;
    list-style: none;
  }
  nav li{
    position: relative;
    padding: 10px;
    font-weight: bolder;
    margin-right: 20px;
  }
  
  nav a{
    color: #5e6282;
    font-size: 15px;
    text-transform: capitalize;
    padding: 13px 25px;
    transition: all .42s;
  }
  nav ul li a::after{
    content: '';
  position: absolute;
    width:0;
    height: 2px;
    bottom: -1px;
    left: 0;
    transition: all .42s;
    
  }
  
  nav ul li a:hover::after{
    width: 100%;
    color: #d46951;
    border-bottom: 2px solid black;
  }
  .logo img {
    max-width: 100%;
    width: 101px;
    height: auto;
  }
  
  
  .btn-icon {
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    font-size: 17px;
    color: #feffff;
    font-weight: 500;
    border: 2px solid #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all 0.42s;
  }
  
  .nav-btn:hover {
    background-color: lightblue;
    color: rgb(0, 0, 0);
  }
  #menu-icon {
    font-size: 35px;
    color: #feffff;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  
  section {
    padding: 60px 12%;
  }
  
  .background {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url(img/kolam\ blur.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .home-text h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }
  
  .home-text h1 {
    color: moccasin;
    font-size: 56px;
    font-family: "Volkhov";
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
  }
  
  .home-text p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .main-galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    align-items: center;
    gap: 1rem;
  }
  
  .hov-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.42s;
  }
  
  .galery-text h5 {
    font-size: 18px;
    color: #5e6282;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
  }
  
  .box {
    position: relative;
  }
  
  .box .text-in {
    position: absolute;
    bottom: 25px;
    left: 20px;
    color: #ffffff;
  }
  
  .hov-img {
    overflow: hidden;
  }
  
  .hov-img:hover img {
    transform: scale(1.1);
    filter: brightness(50%) hue-rotate(45deg);
  }
  
  .test-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .left h4 {
    color: #5e6282;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
  
  .left h3 {
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Volkhov";
  }
  
  .rights img {
    max-width: 100%;
    width: 70px;
    height: 70px;
  }
  .rights h5 {
    color: #5e6282;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 3px;
  }
  
  .rights p {
    color: #5e6282;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
  }
  /* contact-info */
  .contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 2rem;
    align-items: center;
  }
  
  .first-info img {
    max-width: 100%;
    width: 120px;
    height: auto;
  }
  .first-info h6 {
    color: #5e6282;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.42s;
  }
  
  .first-info h6:hover {
    color: #d46951;
  }
  .contact-info h4 {
    font-size: 18px;
    color: #080809;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .contact-info p {
    color: #5e6282;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 6px;
    transition: all 0.42s;
  }
  .contact-info p:hover {
    color: #d46951;
  }
  
  .fifth-info .icon a {
    color: #000;
    font-size: 30px;
    width: 45px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgb(0, 0, 0);
    margin-right: 15px;
    margin-bottom: 20px;
    transition: all .42s;
  }
  
  .end-text{
    text-align: center;
    padding: 20px;
    background-color: #181E4B;
  }
  .footer{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 500;
  }
  header{
    color: #5e6282;
  }

  
/* responsive desaign css */
@media(max-width:1265px){
    header{
      padding: 25px 4%;
      transition: .3s;
    }
    section{
      padding: 60px 4%;
      transition: .3s;
    }
  }
  @media(max-width:1050px){
    .home{
      grid-template-columns: 1fr;
      height: 100%;
      transition: .3s;
    }
    .home-text{
      padding-top: 100px;
      text-align: center;
      transition: .3s;
    }
  }
  @media(max-width:1180px){
    .home-text h1{
      font-size: 56px;
      transition: .3s;
    }
    .home-text h4{
      font-size: 18px;
      transition: .3s;
    }
    .home-text p{
      font-size: 15px;
      transition: .3s;
    }
  }
  @media(max-width:1000px){
    .test-text{
      grid-template-columns: 1fr;
      height: 100%;
      text-align: center;
      transition: .3s;
    }
  }